:root {
  /* --primary: rgb(254, 1, 129, 1); */
}

.bg-grad-sidebar {
}
table img{
  width: auto!important;
}
table img:hover {
  position: fixed;
  transform: scale(15);
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
